<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RH-STORE — E-Commerce</title>
    <!-- CSS file link karne ke liye routerLink use hota hai -->
    <link rel="stylesheet" routerLink="style.css">
</head>
<body>

    <header class="navbar">
        <div class="nav-container">

            <!-- Logo -->
            <a routerLink="#" class="logo">RH-STORE</a>

            <!-- Navigation -->
            <nav class="nav-links">
                <a routerLink="/">Home</a>
                <a routerLink="/Store">Store</a>
                <a routerLink="NewArrivals">New Arrivals</a>
                <a routerLink="Men">Men</a>
                <a routerLink="Women">Women</a>
                <a routerLink="Accessories">Accessories</a>
            </nav>

            <!-- Right Side -->
            <div class="nav-actions">

                <button class="search-btn" aria-label="Search">
                    <span class="search-icon"></span>
                </button>

              
                <a routerLink="Cart" class="bag-btn" aria-label="Shopping Bag">
                    <span class="bag-icon"></span>
                </a>

            </div>

        </div>
    </header>

</body>
</html>